language: node_js
node_js:
- 'stable'
services: mongodb
env:
  global:
    - export CXX=g++-4.8
    - export TWILIO_ACCOUNT_SID=Your-Account-SID
    - export TWILIO_AUTH_TOKEN=Your-Twilio-Authy-Token
    - export TWILIO_APP_SID=Your-Twilio-APP-SID
    - export TWILIO_PHONE_NUMBER=Your-Twilio-Phone-Number
    - export MONGO_URL=mongodb://localhost:27017/test
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
