/* Custom CSS for Bicycle Polo example */
.bicycle-polo-background {
  background-image: url(/img/bicycle-polo.jpg);
  background-size: cover;
  background-position: 75% 25%;
}

.bicycle-polo-text {
  background-color:rgba(255,255,255,0.75);
}

@media (min-width: 768px) {
  .bicycle-polo-text {
    margin-right: 5%;
    width: 40%;
  }
}

.answer-button, .call-support-button {
    width: 48%;
    float: left;
}

.hangup-button {
    width: 48%;
    float: right;
}
